extends base
block content
  #bookQuantity.modal.fade(tabindex='-1', role='dialog', aria-labelledby='bookQuantity', aria-hidden='true')
    form#bookQuantityForm(action="", method="POST")
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#bookQuantityLabel.modal-title Chỉnh sửa số lượng và giá cho sách
              span(#bookid)
              span(#bookname)
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .form-group
              label Số lượng
              input.form-control(placeholder="Nhập số lượng", name="quantity", type="number")
            .form-group
              label Giá
              input.form-control(placeholder="Nhập giá", name="price", type="number")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Đóng
            button.btn.btn-primary(type='submit') Lưu
  h3.mt-4.mb-4 Quản lí sách
  .d-flex.justify-content-between.align-items-center.mb-2
    a(href="/admin/books/add")
      .btn.btn-primary.mr-4 Thêm sách mới
    form.d-flex(action="/admin/books")
      input.form-control.mr-1(type='search', placeholder='Nhập tên hoặc id', aria-label='Search', name="q")
      button.btn.btn-outline-success.w-25(type='submit')
        .fas.fa-search
  .mb-4
    if (messages)
      each message in messages
        .alert.alert-success= message
    if (errors)
      each error in errors
        .alert.alert-warning= error
    if (books)
      table.table.table-sm
        thead
          tr
            th Mã sách
            th Tên sách
            th Tác giả
            th Danh mục
            th Ngày thêm
            th Số lượt mua
            th Số lượt xem
            th Số lượng
            th Giá
            th Thao tác
        tbody
          each book in books
            tr
              td= book.bookid
              td= book.bookname
              td
                a(href="/admin/books?author="+book.authorid)= book.authorname
              td
                a(href="/admin/books?category="+book.categoryid)= book.categoryname
              td= book.timestamp
              td= book.purchasedcount
              td= book.viewcount
              td= book.quantity
              td= book.price
              td.tablecell-action
                .btn-group
                  button.btn.btn-sm.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Action
                  .dropdown-menu
                    a.dropdown-item(href="/admin/books/" + book.bookid + "/edit") Xem và chỉnh sửa
                    button.btn.dropdown-item(type='button', data-toggle='modal', data-target='#bookQuantity' data-bookname=book.bookname, data-price=book.price, data-bookid=book.bookid, data-quantity=book.quantity) Sửa số lượng và giá
                    //- a.dropdown-item(href='#') Thêm hoặc bớt số lượng
                    .dropdown-divider
                    form(action="/admin/books/" + book.bookid + "/delete", method="POST")
                        button(type="submit").dropdown-item.text-danger Xoá sách
                    
append external
  script.
    $('#bookQuantity').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('bookid');
    var quantity = button.data('quantity');
    var price = button.data('price');
    var bookname = button.data('bookname');
    var modal = $(this);
    modal.find('.modal-title').text(`Chỉnh sửa số lượng và giá cho sách ${bookname}  (ID ${id})`);
    modal.find('.modal-body input[name="quantity"]').val(quantity);
    modal.find('.modal-body input[name="price"]').val(price);
    modal.find('#bookQuantityForm').attr('action', `/admin/books/${id}/smpedit`);
    })            