extends base
block vars
  - var admin_list='orders';
block content
  #orderModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='orderModal' aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#orderModalLabel.modal-title Xem thông tin đơn hàng
            span.ml-2#orderID
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body

          div
            p.detail-title.mb-0 Tên người nhận
            p#orderName
            p.detail-title.mb-0 Địa chỉ
            p#orderAddress
            p.detail-title.mb-0 Số điện thoại
            p#orderPhone
            p.detail-title.mb-0 Tổng số tiền
            p#orderTotal
            p.detail-title.mb-0 Chi tiết đơn hàng
          table.table.table-sm.table-bordered.mt-2.table-striped
            thead
              tr
                th Mã sách
                th Tên sách
                th Số lượng
                th Tổng tiền
            tbody#orderList 
            //- ajax
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
          //- button.btn.btn-primary(type='button') Lưu

  h3.mt-4.mb-4 Quản lí đơn hàng
  ul.nav.nav-tabs.mb-4
    li.nav-item
      a.nav-link(href='/admin/orders', class=card?"":"active") Tất cả
    li.nav-item
      a.nav-link(href='/admin/orders?filter=pending' class=(card=='pending')?"active":"") Chờ xác nhận
    li.nav-item
      a.nav-link(href='/admin/orders?filter=accepted' class=(card=='accepted')?"active":"") Chờ thanh toán
  if (messages)
    each message in messages
      .alert.alert-success= message
  if (errors)
    each error in errors
      .alert.alert-warning= error
  if (orders)
    .d-flex.justify-content-between.align-items-center.mb-2.flex-sm-row.flex-column
      if (!title)
        h4.ml-2 Tất cả đơn hàng
      else
        h4.ml-2= title
      .d-flex.justify-content-between.align-items-center.mb-2
        form(action="", method="get").d-flex
          input.form-control.mr-1(type='search' placeholder='Nhập từ khoá' aria-label='Search', name="query" value=search)
          button.btn.btn-outline-success.w-25(type='submit')
            .fas.fa-search

    .mb-4
      table.table.table-sm
        thead
          tr
            th Tình trạng
            th Mã đơn hàng
            th Người đặt
            th Người nhận
            th Ngày đặt
            th Tổng giá trị
            th Thao tác
        tbody

          each order in orders
            tr(class=order.orderstatus)
              case order.orderstatus
                when 'p'
                  td.text-primary Chờ xác nhận
                when 'c'
                  td.text-success Đã thanh toán
                when 'a'
                  td.text-warning Chờ thanh toán
                when 'r'
                  td.text-danger Đã từ chối
                when 'e'
                  td.text-danger Lỗi 
              td= order.orderid
              td= order.fullname
              td= order.receivername
              td= order.timestamp
              td= order.totalmoney
              td.tablecell-action
                .btn-group
                  button.btn.btn-sm.btn-outline-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Action
                  .dropdown-menu
                    button.dropdown-item.btn.btn-primary(type='button' data-toggle='modal' data-target='#orderModal', data-id=order.orderid) Xem thông tin chi tiết đơn hàng
                    case order.orderstatus
                      when 'p'
                        .dropdown-divider
                        form(action='/admin/orders/'+order.orderid+'/accept' method="post")
                          button(type="submit").dropdown-item.text-primary Tiếp nhận
                        form(action='/admin/orders/'+order.orderid+'/reject' method="post")
                          button(type="submit").dropdown-item.text-warning Từ chối
                        form(action='/admin/orders/'+order.orderid+'/error' method="post")
                          button(type="submit").dropdown-item.text-danger Đánh dấu là lỗi
                      when 'a'
                        .dropdown-divider
                        form(action='/admin/orders/'+order.orderid+'/complete' method="post")
                          button(type="submit").dropdown-item.text-success Đánh dấu đã thanh toán
                        form(action='/admin/orders/'+order.orderid+'/error' method="post")
                          button(type="submit").dropdown-item.text-danger Đánh dấu là lỗi
    ul.pagination
      each page in pagination
        li.page-item(class=(page.index==pagination_current_page)?"active":"")
          a.page-link(href=page.url)= page.index       


  else
    .alert.alert-warning Danh sách đơn đặt trống
append external
  script.
    renderOrderDetailList = function(list) {

      let table = document.querySelector('#orderList');
      table.innerHTML = "";
      for (book of list) {
        console.log(book);
        let row = document.createElement('tr');
        row.innerHTML = `
        <td>${book.bookid}</td>
        <td>${book.bookname}</td>
        <td>${book.qtyordered}</td>
        <td>${book.amount}</td>
        `;
        table.appendChild(row);

      }
    }
    $('#orderModal').on('show.bs.modal', async function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id');
    console.log(id);
    $('#orderID').text(id);
    
      let data = await axios.get('/admin/orders/'+id).then((res)=>{
      return res.data;
    });
    let name = (!!data.receivername)?data.receivername:data.fullname;
    $('#orderName').text(name);
    $('#orderPhone').text(data.phone);
    $('#orderAddress').text(data.address);
    $('#orderTotal').text(data.totalmoney);
    renderOrderDetailList(data.books);
    var modal = $(this);
    })          