extends base
block content
    .container
        if (listBooks) 
            if(search)
                .alert.alert-success= "Đã tìm thấy sách theo từ khóa '" + search + "'"
            .row.mt-4
                .col-12                                
                    .row.mb-0.ml-1.mr-1
                        each book in listBooks
                            .col-6.col-sm-4.col-md-3.col-lg-2.pl-1.pr-1.mb-4
                                .card.card-inverse.card-info
                                    a(href='/books/' + book.bookid)
                                        img.card-img-top(src='/assets/img/books/' + book.bookimageurl)
                                    .card-block(style="height: 4em; overflow:hidden;")
                                        .card-title= book.bookname
                                    .card-footer
                                        small= book.price + ' đ'
                                        button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=book.bookid) BUY 
            ul.pagination
                if (pagination_pages>1)
                    - for (i=1; i<=pagination_pages; i++)
                        li.page-item(class=(i==pagination_current_page)?"active":"")
                            a.page-link(href=pagination_url+'page='+i)=i
        else
            .alert.alert-warning Không tìm thấy sách
