extends base
block content
    if (book)
        .single_product.p-0(style="margin: 0 10%;")
            .container-fluid(style=' background-color: #fff; padding: 11px;')
                .row
                    .col-lg-6.order-lg-2.order-1
                        .image_selected
                            img(src='/assets/img/books/' + book.bookimageurl, alt='')
                    .col-lg-6.order-3
                        .product_description
                            nav
                                ol.breadcrumb
                                    li.breadcrumb-item
                                        a(href='/') Home
                                    li.breadcrumb-item
                                        a(href='#') Books
                                    li.breadcrumb-item.active= book.categoryname
                            .product_name= book.bookname;
                            div
                                span.product_price= book.price + " VNĐ"
                            hr.singleline
                            div
                                span.product_info
                                    | Tác giả: 
                                    strong= book.authorname
                                br
                                span.product_info
                                    | Nhà Xuất Bản: 
                                    strong Kim Đồng
                                br
                                span.product_info
                                    | Hình thức bìa: 
                                    strong bìa mềm
                                br
                                span.product_info
                                    | Chính sách đổi trả : 
                                    strong
                                        | Đổi trả sản phẩm trong 30 ngày
                                br
                            hr.singleline
                            .order_info.d-flex.flex-row
                                form(action='#')
                                    .row
                                        .col-xs-6.d-flex(style='margin-left: 13px;')
                                            .product_quantity.mb-0
                                                span QTY: 
                                                input#quantity_input(type='text', pattern='[0-9]*', value='1')
                                                .quantity_buttons
                                                    #quantity_inc_button.quantity_inc.quantity_control
                                                        i.fas.fa-chevron-up
                                                    #quantity_dec_button.quantity_dec.quantity_control
                                                        i.fas.fa-chevron-down
                                            button.btn.btn-primary.shop-button(type='button') Add to Cart
                .row.row-underline
                    .col-md-6
                        span.deal-text Thông tin sách
                    .col-md-6
                        a(href='#', data-abc='true')
                            span.ml-auto.view-all
                .row
                    .col-md-12
                        table.col-md-12
                            tbody
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Số trang :
                                    td.col-md-8
                                        ul
                                            li= book.bookpages + " trang"
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Book weight :
                                    td.col-md-8
                                        ul
                                            li= book.bookweight + " gram"
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Ngày ra mắt :
                                    td.col-md-8
                                        ul
                                            li= book.releasedate
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Tác giả :
                                    td.col-md-8
                                        ul
                                            li= book.authorname
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Nội dung :
                                    td.col-md-8
                                        ul
                                            li= book.bookdescription
                                tr.row.mt-10
                                    td.col-md-4
                                        span.p_specification Nhà xuất bản :
                                    td.col-md-8
                                        ul
                                            li Kim Đồng
    else
        .alert.alert-warning Có lỗi xảy ra
