extends base
block content
  #messages
  if (cartItems)
    .shopping-cart
      .pb-5
        .container
          h4 GIỎ HÀNG
          .row.bg-white.rounded.shadow-sm.mb-5
            .col-lg-8.col-md-7.col-12.p-2
              each item in cartItems
                .card.mb-2
                  .card-body.row
                    .col-3.col-md-3.col-lg-2
                      img.img-fluid.rounded.shadow-sm(src='/assets/img/books/' + item.bookimageurl, alt='' width='70')
                    .col.row
                      .col
                        .card-title.mb-2= item.bookname
                        .card-subtitle.text-muted.mb-2= "Tác giả: "+item.authorname
                        .card-subtitle.text-success= item.price+" đ"
                        a.text-danger.cartRemoveItem(data-bookid=item.bookid)
                          i.fa.fa-trash.p-1
                          | Xoá
                      .col-12.col-md-7.col-sm-12.col-lg-4.mt-2
                        .input-group.input-group-sm.cartEditInputGroup(data-bookid=item.bookid)
                          input.form-control.text-center(type='number' name="quantity" min=1 value=item.quantity)
                          .input-group-append
                            button.btn.btn-outline-secondary(type='button').cartEditQuantity Cập nhật
              .col-12.m-2
                .btn.btn-primary.text-light.float-right.cartRemoveAllItem.btn-sm Xoá toàn bộ giỏ hàng
            .col-lg-4.col-md-5.col-12.p-2
              .card.mb-2
                .card-body
                  //- .row.mb-2
                  //-   .col.mb-2
                  //-     .card-subtitle.text-muted  Tạm tính
                  //-   .col.float-right
                  //-     .card-subtitle.text-muted= totalMoney+'đ'
                  //- hr
                  .row
                    .col
                      .card-title Tổng tiền
                    .col
                      .lead.text-success#totalMoney= totalMoney + " đ"
              a(href="/cart/purchase")        
                .btn.btn-danger.btn-block Tiến hành đặt hàng
  else
    .alert.alert-warning Bạn không có sản phẩm nào trong giỏ hàng