extends base
block content   
    .container
        .row
            .col-md-3
                .navbar.navbar-expand-md.navbar-light.bg-light.d-md-block.position-relative.p-0
                    .navbar-toggler.float-right.position-absolute.w-100.h-100.p-0.m-0(type='button', data-toggle='collapse', data-target='#categories', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation', style="z-index: 100")
                    a(href='#').list-group-item.active.w-100 Danh mục sản phẩm
                        i.fas.fa-angle-down.text-light.float-right.m-1
                    #categories.collapse.navbar-collapse.collapse
                        ul.list-group.w-100
                            each category in listCategories
                                a.list-group-item.list-group-item-action.list-group-item-light(href="/categories/" + category.categoryid)= category.categoryname
            .col-md-9.position-relative.col-12
                #carouselBanner.carousel.slide.h-100.w-100(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselBanner' data-slide-to='0')
                        li(data-target='#carouselBanner' data-slide-to='1')
                        li(data-target='#carouselBanner' data-slide-to='2')
                    .carousel-inner.h-100.w-100
                        .carousel-item.h-100.w-100.active
                            a(href='#').d-block
                                img.h-100.w-100.d-block.position-absolute(src="/assets/img/p2.jpg" alt='First slide', style="object-fit:cover;")
                                .carousel-caption.d-none.d-md-block
                                    h5 First slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                        .carousel-item.h-100.w-100
                            a(href='#').d-block
                                img.h-100.w-100.d-block.position-absolute(src="/assets/img/p3.jpg" alt='Second slide', style="object-fit:cover;")
                                .carousel-caption.d-none.d-md-block
                                    h5 Second slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                        .carousel-item.h-100.w-100
                            a(href='#').d-block
                                img.h-100.w-100.d-block.position-absolute(src="/assets/img/p4.png" alt='Third slide' style="object-fit:cover;")
                                .carousel-caption.d-none.d-md-block
                                    h5 Third slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                    a.carousel-control-prev(href='#carouselBanner' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselBanner' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
    //Most Seller Banner                
    .container
        .row.blog.mt-4.mb-5
            .col-md-12
                //banner
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Bán chạy nhất
                //slide point
                #MostSeller.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostSeller' data-slide-to='0')
                        li(data-target='#MostSeller' data-slide-to='1')
                        li(data-target='#MostSeller' data-slide-to='2')
                    // Carousel items
                    .carousel-inner.mt-4
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY
                                -}           
    //Popular banner
    .container
        .row.blog.mt-5.mb-5
            .col-md-12
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Nổi bật nhất
                #MostPopular.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostPopular' data-slide-to='0')
                        li(data-target='#MostPopular' data-slide-to='1')
                        li(data-target='#MostPopular' data-slide-to='2')
                    // Carousel items
                    .carousel-inner.mt-4
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                h5.card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) BUY 
                                -}          
    //book Show
    .container
        if (listBooks) 
            .row.mt-4
                .col-12
                    .list-group.d-flex.justify-content-center.mb-2
                        li#newBook.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                            div.d-flex.justify-content-center.align-items-center.mr-1
                                i.fa.fa-heart
                                    span &nbsp;
                                    span Sách mới                                 
                    .row.mb-0.ml-1.mr-1
                        each book in showBooks
                            .col-6.col-md-2.pl-1.pr-1.mb-4
                                .card.card-inverse.card-info
                                    a(href='/books/' + book.bookid)
                                        img.card-img-top(src='/assets/img/books/' + book.bookimageurl)
                                    .card-block(style="height: 4em; overflow:hidden;")
                                        h5.card-title= book.bookname
                                    .card-footer
                                        small= book.price + ' VNĐ'
                                        button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=book.bookid) BUY 
                    div.d-flex.justify-content-center.mt-0
                        ul.pagination
                            if (pagination_pages>1)
                                - for (i=1; i<=pagination_pages; i++)
                                    li.page-item(class=(i==pagination_current_page)?"active":"")
                                        a.submitPage.page-link(href=pagination_url+'page='+i +"#newBook")=i
