extends base
block content   
    .container
        .row
            .col-md-3.pr-1.pt-4
                .list-group
                    li.list-group-item.list-group-item-primary.text-center Danh mục sản phẩm
                    each category in listCategories
                        a.list-group-item.list-group-item-action.list-group-item-light.text-center.font-weight-bold(href="/categories/" + category.categoryid)= category.categoryname
            .col-md-9.pl-1
                #carouselExampleIndicators.carousel.slide.mt-4.mb-4(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            a(href='#')
                                img.d-block.w-100(src="/assets/img/p2.jpg", alt='First slide')
                                .carousel-caption.d-none.d-md-block
                                    h5 First slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                        .carousel-item
                            a(href='#')
                                img.d-block.w-100(src="/assets/img/p3.jpg", alt='Second slide')
                                .carousel-caption.d-none.d-md-block
                                    h5 Second slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                        .carousel-item
                            a(href='#')
                                img.d-block.w-100(src="/assets/img/p4.png", alt='Third slide')
                                .carousel-caption.d-none.d-md-block
                                    h5 Third slide label
                                    p Nulla vitae elit libero, a pharetra augue mollis interdum.
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
    //Most Seller Banner                
    .container
        .row.blog.mt-4.mb-5
            .col-md-12
                //banner
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Bán chạy nhất
                //slide point
                #MostSeller.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostSeller', data-slide-to='0')
                        li(data-target='#MostSeller', data-slide-to='1')
                        li(data-target='#MostSeller', data-slide-to='2')
                    // Carousel items
                    .carousel-inner.mt-4
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY       
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY                                    
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY    
                                -}           
    //Popular banner
    .container
        .row.blog.mt-5.mb-5
            .col-md-12
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Nổi bật nhất
                #MostPopular.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostPopular', data-slide-to='0')
                        li(data-target='#MostPopular', data-slide-to='1')
                        li(data-target='#MostPopular', data-slide-to='2')
                    // Carousel items
                    .carousel-inner.mt-4
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY       
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY                                    
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.pr-1
                                        .card.card-inverse.card-info 
                                            img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                button.btn.btn-primary.float-right.btn-sm BUY    
                                -}          
    //book Show
    .container
        if (listBooks) 
            .row.mt-4
                .col-12
                    .list-group.d-flex.justify-content-center.mb-2
                        li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                            div.d-flex.justify-content-center.align-items-center.mr-1
                                i.fa.fa-heart
                                    span &nbsp;
                                    span Dành cho bạn                                 
                    .row.mb-2.ml-1.mr-1
                        each book in listBooks
                            .col-6.col-md-2.pl-1.pr-1.mb-4
                                .card.card-inverse.card-info 
                                    img.card-img-top(src='/assets/img/books/' + book.bookimageurl)
                                    .card-block(style="height: 4em; overflow:hidden;")
                                        h5.card-title= book.bookname
                                    .card-footer
                                        small= book.price + ' VNĐ'
                                        button.btn.btn-primary.float-right.btn-sm BUY 
