extends base
block content   
    .container
        .row
            .col-md-4.col-lg-3
                .navbar.navbar-expand-md.navbar-light.bg-light.d-md-block.position-relative.p-0
                    .navbar-toggler.float-right.position-absolute.w-100.h-100.p-0.m-0(type='button', data-toggle='collapse', data-target='#categories', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation', style="z-index: 100")
                    a(href='#').list-group-item.active.w-100 Danh mục sản phẩm
                        i.fas.fa-angle-down.text-light.float-right.m-1
                    #categories.collapse.navbar-collapse.collapse
                        ul.list-group.w-100
                            each category in listCategories
                                a.list-group-item.list-group-item-action.list-group-item-light(href="/categories/" + category.categoryid)= category.categoryname
            .col-md-8.col-lg-9.position-relative.col-12
                #carouselBanner.carousel.slide.h-100.w-100(data-ride='carousel')
                    ol.carousel-indicators
                        - for (i=0; i< banner.length; i++)
                            li(data-target='#carouselBanner' data-slide-to=i)
                    .carousel-inner.h-100.w-100
                        - for (i=0; i< banner.length; i++)
                            .carousel-item.h-100.w-100(class=i==0?"active":"")
                                a(href='/books/'+banner[i].bookid).d-block
                                    img.h-100.w-100.d-block.position-absolute(src="/assets/img/banner/"+banner[i].customimage , alt='First slide', style="object-fit:cover;")
                    a.carousel-control-prev(href='#carouselBanner' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselBanner' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
    //Most Seller Banner                
    .container
        .row.blog.mt-4.mb-5
            .col-md-12
                //banner
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Bán chạy nhất
                //slide point
                #MostSeller.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostSeller' data-slide-to='0')
                        li(data-target='#MostSeller' data-slide-to='1')
                        li(data-target='#MostSeller' data-slide-to='2')
                    // Carousel items
                    .carousel-inner
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1.mt-2.mt-md-0
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1.mt-2.mt-md-0
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1.mt-2.mt-md-0
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostSeller[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostSeller[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostSeller[i].bookname
                                            .card-footer
                                                small= mostSeller[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}           
    //Popular banner
    .container
        .row.blog.mt-5.mb-5
            .col-md-12
                .list-group.d-flex.justify-content-center.mb-2
                    li.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                        div.d-flex.justify-content-center.align-items-center.mr-1
                            i.fa.fa-fire 
                                span &nbsp;
                                span Nổi bật nhất
                #MostPopular.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#MostPopular' data-slide-to='0')
                        li(data-target='#MostPopular' data-slide-to='1')
                        li(data-target='#MostPopular' data-slide-to='2')
                    // Carousel items
                    .carousel-inner
                        .carousel-item.active
                            .row.mb-2.ml-1.mr-1
                                - for(i = 0; i < 6; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1.mt-2.mt-md-0
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 6; i < 12; i++){
                                    .col-6.col-md-2.pl-1.mr-0.pr-1.mt-2.mt-md-0
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}
                        .carousel-item
                            .row.mb-2.ml-1.mr-1
                                - for(i = 12; i < 18; i++){
                                    .col-6.col-md-2.pl-1.pr-1
                                        .card.card-inverse.card-info 
                                            a(href='/books/' + mostPopular[i].bookid)
                                                img.card-img-top(src='/assets/img/books/' + mostPopular[i].bookimageurl)
                                            .card-block(style="height: 4em; overflow:hidden;")
                                                .card-title= mostPopular[i].bookname
                                            .card-footer
                                                small= mostPopular[i].price + ' VNĐ'
                                                if (mostPopular[i].quantity)
                                                    button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=mostPopular[i].bookid) Mua 
                                                else
                                                    p.p-0.m-0.text-danger Hết hàng
                                -}          
    //book Show
    .container
        if (listBooks) 
            .row.mt-4
                .col-12
                    .list-group.d-flex.justify-content-center.mb-2
                        li#newBook.list-group-item.list-group-item-primary(style='background-color: #7952b3;color:white;')
                            div.d-flex.justify-content-center.align-items-center.mr-1
                                i.fa.fa-heart
                                    span &nbsp;
                                    span Sách mới                                 
                    .row.mb-0.ml-1.mr-1
                        each book in showBooks
                            .col-6.col-md-2.pl-1.pr-1.mt-2
                                .card.card-inverse.card-info
                                    a(href='/books/' + book.bookid)
                                        img.card-img-top(src='/assets/img/books/' + book.bookimageurl)
                                    .card-block(style="height: 4em; overflow:hidden;")
                                        .card-title= book.bookname
                                    .card-footer
                                        small= book.price + ' VNĐ'
                                        if (book.quantity)
                                            button.btn.btn-primary.float-right.btn-sm.select_product.add-to-cart(data-bookid=book.bookid) Mua 
                                        else
                                            p.p-0.m-0.text-danger Hết hàng
                    div.d-flex.justify-content-center.mt-4
                        ul.pagination
                            each page in pagination
                                li.page-item(class=(page.index==pagination_current_page)?"active":"")
                                    a.page-link(href=page.url+'#newBook')= page.index       
